xml/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="aliens">
    <xs:complexType>
        <xs:sequence>
       

                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="age" type="xs:integer"/>
                        <xs:element name="planet" type="xs:string"/>
               
     
        </xs:sequence>
    </xs:complexType>
   </xs:element>
</xs:schema>